/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_NORM' {
        ext.args = [ "",
            "-m",
            "-both",
            // -cx fixed a lot of problems with bcftools norm and cyvcf.pdx utf-8 warnings!
            "-cx",
            "-Oz", "--write-index=tbi"
        ].join(" ").trim()

        ext.prefix = { "${meta.id}.norm" }

        publishDir = [
            path: { "${params.outdir}/bcftools/norm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: params.save_intermediates
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        ext.args = {
            [   
                " ", "-Oz" , " --write-index=tbi",  " ",
                meta.tool == 'deepvariant'             ? params.filter_deepvariant : null,
                meta.tool == 'haplotypecaller'         ? params.filter_haplotypecaller :null,
                meta.tool == 'strelka.variants'        ? params.filter_strelka_variants : null,
                meta.tool == 'mutect2'                 ? params.filter_mutect2 : null,
                meta.tool == 'strelka.somatic_snvs'    ? params.filter_strelka_snvs : null,
                meta.tool == 'strelka.somatic_indels'  ? params.filter_strelka_indels : null,
                meta.tool == 'freebayes' && meta.status == 'germline' ? params.filter_freebayes_germline : null,
                meta.tool == 'freebayes' && meta.status == 'somatic'  ? params.filter_freebayes_somatic  : null
            ].grep{it != null}.join("").trim() }
        
        ext.prefix = { "${meta.id}.norm.filtered" }
            
        publishDir = [
            path: { "${params.outdir}/bcftools/filter" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: params.save_intermediates
        ]
    }

}
