/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantprioritization -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // PCGR params
    input                      = "https://raw.githubusercontent.com/nfdata-omics/nf_pgcr_dev/dev/assets/test_data/samplesheet.csv"
    genome                     = 'WBcel235'
    vep_species                = 'caenorhabditis_elegans'
    assay                      = 'WES'
    estimate_signatures        = true
    estimate_msi               = true
    estimate_tmb               = true
    cna_analysis               = true
    control_dp_tag             = "NDP"
    control_af_tag             = "NAF"
    save_intermediates         = true
    vcf2maf                    = true
    filter_mutect2             = "-i 'FILTER=\"PASS\"'"
    filter_strelka_indels      = "-i 'FILTER=\"PASS\"'"
    filter_strelka_snvs        = "-i 'FILTER=\"PASS\"'"
}
